
#### Netbeans ignore patterns from: https://github.com/github/gitignore/raw/master/Global/NetBeans.gitignore
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml



#### Eclipse ignore patterns from: https://raw.github.com/github/gitignore/master/Global/Eclipse.gitignore
*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath

#### Maven ignore patterns from: https://github.com/github/gitignore/raw/master/Maven.gitignore
target/

.idea
*.iml
/dars-reporting-rest-server/nbproject/